

// THIS CSS ADDRESSES PROJECT IMAGE LAYOUT.

// mobile
// ===============================================

.whole-u-logo img
{   width: 90%;
}
.whole-u-visualstyles
{   width: 95%;
    margin: 20px auto;
}
.whole-u-char-sketches
{   width: 90%;
    margin: auto;
}
.whole-u-storyboard
{   width: 90%;
    margin: 60px auto;
}

// END MOBILE


@include tablet{
// ====================================== 640+ ====

    .whole-u-logo img
    {   width: 550px;
    }
    .whole-u-visualstyles
    {   width: 600px;
        margin: 20px auto;
    }
    .whole-u-char-sketches
    {   width: 700px;
        margin: auto;
    }
    .whole-u-storyboard
    {   width: 700px;
        margin: 60px auto;
    }

} // END TABLET
